Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit --project package/tsconfig.json

docs: improve general docs (#113)
  docs-website/docs/api.md
  docs-website/docs/global-replace.md
  docs-website/docs/token-refresh.md
  docs/android.md
  docs/api.md
  docs/cronet-android.md
  docs/cronet-ios.md
  docs/getting-started.md
  docs/ios.md
  docs/prefetch.md
  docs/troubleshooting.md
Due: none

fix: align NitroWebSocket with WebSocket constructor
  docs-website/docs/websockets.md
  docs/websockets.md
  example/__tests__/nitrowebsockets.harness.ts
  example/src/screens/WebSocketScreen.tsx
  packages/react-native-nitro-websockets/src/index.ts
Due: lint, types

fix: support WebSocket-compatible constructor options
  packages/react-native-nitro-websockets/src/index.ts
Due: lint, types

chore: localfiles support
  bun.lock
  docs-website/docs/getting-started.md
  example/__tests__/local-urls.harness.ts
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

chore: localfiles support
  example/src/screens/BasicFetchScreen.tsx
Due: lint

feat: add local file support (#116)
  bun.lock
  docs-website/docs/getting-started.md
  example/__tests__/local-urls.harness.ts
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/BasicFetchScreen.tsx
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

chore: localfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

chore: upgrade example app to React Native 0.86.0
  bun.lock
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  package.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

ci: drop stale Pods/DerivedData restore-keys in harness-ios
  .github/workflows/harness-ios.yml
Due: none

chore: upgrade example app to React Native 0.86.0 (#122)
  .github/workflows/harness-ios.yml
  bun.lock
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  package.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

fix: Worklets peer dependency issue
  packages/react-native-nitro-fetch/package.json
Due: none

fix: Worklets peer dependency issue (#123)
  packages/react-native-nitro-fetch/package.json
Due: none

feat: add benchmarks
  README.md
  docs-website/docs/benchmarks.md
  docs-website/sidebars.ts
  example/android/app/build.gradle
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/BenchmarkV2Screen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/benchmarkV2/methodology.ts
Due: lint, types

feat: add benchmarks (#124)
  README.md
  docs-website/docs/benchmarks.md
  docs-website/sidebars.ts
  example/android/app/build.gradle
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/BenchmarkV2Screen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/benchmarkV2/methodology.ts
Due: lint, types

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

docs: also add benchmarking in tab nav
  README.md
  docs-website/docs/benchmarks.md
Due: none

docs: clarify that results were taken on android
  docs-website/docs/benchmarks.md
Due: none

Highlight benchmarks without prefetch in documentation
  docs-website/docs/benchmarks.md
Due: none

Bump Cronet to 143.7445.0
  docs/cronet-android.md
  example/android/app/build.gradle
  packages/react-native-nitro-fetch/android/build.gradle
Due: none

feat : bump Cronet to 143.7445.0 (#125)
  docs/cronet-android.md
  example/android/app/build.gradle
  packages/react-native-nitro-fetch/android/build.gradle
Due: none

chore: lockfiles
  bun.lock
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

feat: enhance NitroFetch with binary-safe blob handling
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchBlobStore.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchPackage.kt
  packages/react-native-nitro-fetch/ios/NitroFetchBlobStore.mm
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/__tests__/Response.test.ts
  packages/react-native-nitro-fetch/src/createBlobFromBytes.ts
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

fix: android type issue in NitroFetchBlobStore
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchBlobStore.kt
Due: none

fix: binary-safe Response.blob() and Request.blob()
  bun.lock
  example/__tests__/blob-binary.harness.ts
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchBlob.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchPackage.kt
  packages/react-native-nitro-fetch/ios/NitroFetchBlob.mm
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/blob.ts
  packages/react-native-nitro-fetch/src/turbomodule/NativeNitroFetchBlob.ts
Due: lint, types

ci: build-ios on macOS-26 with Xcode 26.2.0
  .github/workflows/ci.yml
Due: none

fix: web fallback for blob() to avoid bundling RN internals
  packages/react-native-nitro-fetch/src/blob.web.ts
Due: lint, types

fix: devtools logs not getting pushed to 0.81
  bun.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/CdpFallbackReporterImpl.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/ios/NitroCdpFallbackReporter.h
  packages/react-native-nitro-fetch/ios/NitroCdpFallbackReporter.mm
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
Due: none

feat: server
  example/__tests__/tokenrefresh.harness.ts
  test-server/server.mjs
Due: lint, types

test: drop token-refresh persistence tests (iOS Keychain unavailable in harness)
  example/__tests__/tokenrefresh.harness.ts
Due: lint, types

tests: refresh token (#131)
  example/__tests__/tokenrefresh.harness.ts
  test-server/server.mjs
Due: lint, types

refactor: improve token injection code
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
Due: none

refactor: consolidate prefetch logic into a dedicated method for improved clarity
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
Due: none

refactor: simplify request building by removing prefetchKey parameter from AutoPrefetcher methods
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
Due: none

fix: binary-safe Response.blob() and Request.blob() (#128)
  .github/workflows/ci.yml
  bun.lock
  example/__tests__/blob-binary.harness.ts
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchBlob.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchPackage.kt
  packages/react-native-nitro-fetch/ios/NitroFetchBlob.mm
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/blob.ts
  packages/react-native-nitro-fetch/src/blob.web.ts
  packages/react-native-nitro-fetch/src/turbomodule/NativeNitroFetchBlob.ts
Due: lint, types

feat: add supports of credentials
  bun.lock
  example/__tests__/fetch-api-compliance.harness.ts
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.cpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JNitroRequest.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JNitroRequestCredentials.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestBuilderSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequestCredentials.kt
  packages/react-native-nitro-fetch/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Umbrella.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/ios/c++/HybridUrlRequestBuilderSpecSwift.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec.swift
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec_cxx.swift
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/NitroRequest.swift
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/NitroRequestCredentials.swift
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/HybridUrlRequestBuilderSpec.cpp
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/HybridUrlRequestBuilderSpec.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/NitroRequest.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/NitroRequestCredentials.hpp
  packages/react-native-nitro-fetch/src/NitroCronet.nitro.ts
  packages/react-native-nitro-fetch/src/NitroFetch.nitro.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  test-server/server.mjs
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
