Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit --project package/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Update iOS deployment target to 16.4
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
Due: none

Update iOS deployment target to 16.4 (#16)
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
Due: none

feat: Allow setting cronet properties at build time
  README.md
  android/build.gradle
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroCronet.kt
  example/package.json
  example/server/index.ts
  example/src/Tests.tsx
Due: lint, types

stash mid testing
  ios/HybridCronetEngine.swift
  ios/HybridNitroCronet.swift
  ios/HybridNitroFetchCache.swift
  ios/HybridRequestException.swift
  ios/HybridUrlRequest.swift
  ios/HybridUrlRequestBuilder.swift
Due: none

remove engine
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroCronet.kt
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroCronetEngine.kt
  ios/HybridCronetEngine.swift
  ios/HybridNitroCronet.swift
  nitrogen/generated/android/c++/JHybridCronetEngineSpec.cpp
  nitrogen/generated/android/c++/JHybridCronetEngineSpec.hpp
  nitrogen/generated/android/c++/JHybridNitroCronetSpec.cpp
  nitrogen/generated/android/c++/JHybridNitroCronetSpec.hpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridCronetEngineSpec.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroCronetSpec.kt
  nitrogen/generated/android/nitrofetch+autolinking.cmake
  nitrogen/generated/android/nitrofetchOnLoad.cpp
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Umbrella.hpp
  nitrogen/generated/ios/c++/HybridCronetEngineSpecSwift.cpp
  nitrogen/generated/ios/c++/HybridCronetEngineSpecSwift.hpp
  nitrogen/generated/ios/c++/HybridNitroCronetSpecSwift.hpp
  nitrogen/generated/ios/swift/HybridCronetEngineSpec.swift
  nitrogen/generated/ios/swift/HybridCronetEngineSpec_cxx.swift
  nitrogen/generated/ios/swift/HybridNitroCronetSpec.swift
  nitrogen/generated/ios/swift/HybridNitroCronetSpec_cxx.swift
  nitrogen/generated/shared/c++/HybridCronetEngineSpec.cpp
  nitrogen/generated/shared/c++/HybridCronetEngineSpec.hpp
  nitrogen/generated/shared/c++/HybridNitroCronetSpec.cpp
  nitrogen/generated/shared/c++/HybridNitroCronetSpec.hpp
  src/NitroCronet.nitro.ts
  src/fetch.ts
Due: lint, types

stash
  ios copy/AutoPrefetcher.swift
  ios copy/FetchCache.swift
  ios copy/HybridNitroCronet.swift
  ios copy/HybridNitroFetchCache.swift
  ios copy/HybridUrlRequest.swift
  ios copy/HybridUrlRequestBuilder.swift
  ios copy/NitroFetchBootstrapper.mm
  ios copy/SimpleFetch.swift
  ios copy/URLSessionExtensions.swift
  ios/IMPLEMENTATION_NOTES.md
  ios/SWIFT_COMPILER_BUG_WORKAROUND.md
Due: none

stash
  example/src/App copy.tsx
  example/src/App.tsx
  ios/HybridUrlRequestBuilder.swift
  src/index.tsx
Due: lint

Mostly done iOS side as well
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroCronet.kt
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/server/index.ts
  example/src/App copy.tsx
  example/src/App.tsx
  example/src/stream.ts
  example/src/tests/fetch-spec.ts
  ios copy/HybridNitroCronet.swift
  ios copy/HybridNitroFetchCache.swift
  ios copy/HybridUrlRequest.swift
  ios copy/HybridUrlRequestBuilder.swift
  ios copy/URLSessionExtensions.swift
  ios/FetchCache.swift
  ios/HybridNitroCronet.swift
  ios/HybridNitroFetchCache.swift
  ios/NitroAutoPrefetcher.swift
  ios/NitroFetchBootstrapper.mm
  ios/SimpleFetch.swift
  ios/URLSessionExtensions.swift
Due: lint, types

removed old comments
  example/src/Tests.tsx
  example/src/tests/text-decoder.ts
  example/src/tests/web-text-decoder.ts
  ios/HybridUrlRequestBuilder.swift
Due: lint, types

small patch
  example/src/Tests.tsx
Due: lint

stash
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  example/server/index.ts
  example/src/App.tsx
Due: lint, types

stash
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequest.kt
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  ios/HybridUrlRequestBuilder.swift
  nitrogen/generated/android/c++/JFunc_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer_.hpp
  nitrogen/generated/android/c++/JFunc_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer__double.hpp
  nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.cpp
  nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.hpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer__double.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestBuilderSpec.kt
  nitrogen/generated/android/nitrofetchOnLoad.cpp
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  nitrogen/generated/ios/c++/HybridUrlRequestBuilderSpecSwift.hpp
  nitrogen/generated/ios/swift/Func_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer_.swift
  nitrogen/generated/ios/swift/Func_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer__double.swift
  nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec.swift
  nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec_cxx.swift
  nitrogen/generated/shared/c++/HybridUrlRequestBuilderSpec.hpp
  src/NitroCronet.nitro.ts
  src/fetch.ts
Due: lint, types

stash
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequest.kt
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
Due: none

stash
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequest.kt
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  ios/HybridUrlRequest.swift
  nitrogen/generated/android/c++/JHybridUrlRequestSpec.cpp
  nitrogen/generated/android/c++/JHybridUrlRequestSpec.hpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestSpec.kt
  nitrogen/generated/ios/c++/HybridUrlRequestSpecSwift.hpp
  nitrogen/generated/ios/swift/HybridUrlRequestSpec.swift
  nitrogen/generated/ios/swift/HybridUrlRequestSpec_cxx.swift
  nitrogen/generated/shared/c++/HybridUrlRequestSpec.hpp
  src/NitroCronet.nitro.ts
  src/fetch.ts
Due: lint, types

fixed android crash and improved speed
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequest.kt
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  src/fetch.ts
Due: lint, types

Added abort controller and fixed prefetch bug
  android/src/main/java/com/margelo/nitro/nitrofetch/NitroCronet.kt
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  example/src/tests/fetch-spec.ts
  nitrogen/generated/android/c++/JHybridNitroCronetSpec.cpp
  nitrogen/generated/android/c++/JHybridNitroCronetSpec.hpp
  nitrogen/generated/android/c++/JHybridNitroFetchCacheSpec.cpp
  nitrogen/generated/android/c++/JHybridNitroFetchCacheSpec.hpp
  nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.cpp
  nitrogen/generated/android/c++/JHybridUrlRequestBuilderSpec.hpp
  nitrogen/generated/android/c++/JHybridUrlRequestSpec.cpp
  nitrogen/generated/android/c++/JHybridUrlRequestSpec.hpp
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/CachedFetchResponse.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/CachedPrefetchResponse.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HttpHeader.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroCronetSpec.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchCacheSpec.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestBuilderSpec.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestSpec.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/RequestException.kt
  nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/UrlResponseInfo.kt
  nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  nitrogen/generated/ios/c++/HybridNitroCronetSpecSwift.hpp
  nitrogen/generated/ios/c++/HybridNitroFetchCacheSpecSwift.hpp
  nitrogen/generated/ios/c++/HybridUrlRequestBuilderSpecSwift.hpp
  nitrogen/generated/ios/c++/HybridUrlRequestSpecSwift.hpp
  nitrogen/generated/ios/swift/HybridNitroCronetSpec.swift
  nitrogen/generated/ios/swift/HybridNitroCronetSpec_cxx.swift
  nitrogen/generated/ios/swift/HybridNitroFetchCacheSpec.swift
  nitrogen/generated/ios/swift/HybridNitroFetchCacheSpec_cxx.swift
  nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec.swift
  nitrogen/generated/ios/swift/HybridUrlRequestBuilderSpec_cxx.swift
  nitrogen/generated/ios/swift/HybridUrlRequestSpec.swift
  nitrogen/generated/ios/swift/HybridUrlRequestSpec_cxx.swift
  package.json
  src/fetch.ts
  yarn.lock
Due: lint, types

Added clone and fixed test
  example/src/tests/fetch-spec.ts
  src/fetch.ts
Due: lint, types

Add tabs
  example/src/App.tsx
Due: lint

Added in fetchOnWorklet test
  example/src/App.tsx
  src/fetch.ts
  src/index.tsx
Due: lint, types

fix: duplicate-symbols with mmkv
  package/android/build.gradle
Due: none

fix: Use Margelo's MMKV fork to avoid duplicate-symbols with react-native-mmkv V4 (#19)
  package/android/build.gradle
Due: none

feat: android-done
  bun.lock
  example/package.json
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/FetchCache.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NativeStorage.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/nitro.json
  package/nitrogen/generated/android/c++/JHybridNativeStorageSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNativeStorageSpec.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNativeStorageSpec.kt
  package/nitrogen/generated/android/nitrofetch+autolinking.cmake
  package/nitrogen/generated/android/nitrofetchOnLoad.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Umbrella.hpp
  package/nitrogen/generated/ios/NitroFetchAutolinking.mm
  package/nitrogen/generated/ios/NitroFetchAutolinking.swift
  package/nitrogen/generated/ios/c++/HybridNativeStorageSpecSwift.cpp
  package/nitrogen/generated/ios/c++/HybridNativeStorageSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNativeStorageSpec.swift
  package/nitrogen/generated/ios/swift/HybridNativeStorageSpec_cxx.swift
  package/nitrogen/generated/shared/c++/HybridNativeStorageSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNativeStorageSpec.hpp
  package/src/NitroFetch.nitro.ts
  package/src/NitroInstances.ts
  package/src/fetch.ts
Due: lint, types

chore: remove-mmkv
  bun.lock
  docs/android.md
  docs/api.md
  docs/ios.md
  docs/prefetch.md
  docs/troubleshooting.md
  example/ios/NitroFetchExample/AppDelegate.swift
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  package/android/build.gradle
  package/ios/NativeStorage.swift
  package/ios/NitroAutoPrefetcher.swift
  package/src/NitroFetch.nitro.ts
  package/src/NitroInstances.ts
  package/src/fetch.ts
Due: lint, types

fix: pipeline
  example/src/App.tsx
Due: lint

fix: headers
  example/src/App.tsx
  package/src/fetch.ts
Due: lint, types

chore : replace MMKV with native device storage (#20)
  docs/android.md
  docs/api.md
  docs/ios.md
  docs/prefetch.md
  docs/troubleshooting.md
  example/ios/NitroFetchExample/AppDelegate.swift
  example/ios/Podfile.lock
  example/src/App.tsx
  package/android/build.gradle
  package/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/FetchCache.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NativeStorage.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NativeStorage.swift
  package/ios/NitroAutoPrefetcher.swift
  package/nitro.json
  package/nitrogen/generated/android/c++/JHybridNativeStorageSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNativeStorageSpec.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNativeStorageSpec.kt
  package/nitrogen/generated/android/nitrofetch+autolinking.cmake
  package/nitrogen/generated/android/nitrofetchOnLoad.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Umbrella.hpp
  package/nitrogen/generated/ios/NitroFetchAutolinking.mm
  package/nitrogen/generated/ios/NitroFetchAutolinking.swift
  package/nitrogen/generated/ios/c++/HybridNativeStorageSpecSwift.cpp
  package/nitrogen/generated/ios/c++/HybridNativeStorageSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNativeStorageSpec.swift
  package/nitrogen/generated/ios/swift/HybridNativeStorageSpec_cxx.swift
  package/nitrogen/generated/shared/c++/HybridNativeStorageSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNativeStorageSpec.hpp
  package/src/NitroFetch.nitro.ts
  package/src/NitroInstances.ts
  package/src/fetch.ts
Due: lint, types

chore: release 0.1.4
  package.json
Due: none

fix: headers
  example/src/App.tsx
Due: lint

fix: headers (#21)
  example/src/App.tsx
Due: lint

fix: worklets
  bun.lock
  example/babel.config.js
  example/ios/NitroFetchExample.xcodeproj/xcshareddata/xcschemes/NitroFetchExample.xcscheme
  example/package.json
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NitroFetchClient.swift
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec.swift
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec_cxx.swift
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.hpp
  package/src/NitroFetch.nitro.ts
  package/src/NitroInstances.ts
  package/src/fetch.ts
Due: lint, types

fix: worklets
  example/package.json
Due: none

fix: worklets (#22)
  bun.lock
  example/babel.config.js
  example/ios/NitroFetchExample.xcodeproj/xcshareddata/xcschemes/NitroFetchExample.xcscheme
  example/package.json
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NitroFetchClient.swift
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec.swift
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec_cxx.swift
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.hpp
  package/src/NitroFetch.nitro.ts
  package/src/NitroInstances.ts
  package/src/fetch.ts
Due: lint, types

0.1.5
  package/package.json
Due: none
