Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit --project package/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Clean up Kotlin plugin comments in build.gradle
  packages/react-native-nitro-fetch/android/build.gradle
Due: none

refactor: split fetch.ts into fetch-core modules
  packages/react-native-nitro-fetch/src/fetch-core/body.ts
  packages/react-native-nitro-fetch/src/fetch-core/client.ts
  packages/react-native-nitro-fetch/src/fetch-core/errors.ts
  packages/react-native-nitro-fetch/src/fetch-core/fetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/headers.ts
  packages/react-native-nitro-fetch/src/fetch-core/index.ts
  packages/react-native-nitro-fetch/src/fetch-core/local.ts
  packages/react-native-nitro-fetch/src/fetch-core/prefetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/raw.ts
  packages/react-native-nitro-fetch/src/fetch-core/request.ts
  packages/react-native-nitro-fetch/src/fetch-core/stream.ts
  packages/react-native-nitro-fetch/src/fetch-core/url.ts
  packages/react-native-nitro-fetch/src/fetch-core/worklet.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
  skills/nitro-fetch/references/axios-adapter.md
  skills/nitro-fetch/references/prefetching.md
Due: lint, types

fix: forward init.timeoutMs to the native request
  docs/api.md
  packages/react-native-nitro-fetch/src/__tests__/request.test.ts
  packages/react-native-nitro-fetch/src/fetch-core/request.ts
Due: lint, types

test: cover timeoutMs with native harness tests
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/src/__tests__/request.test.ts
Due: lint, types

test: cover timeoutMs on the worklet and prefetchOnAppStart paths
  docs/api.md
  example/__tests__/nitrofetch.harness.ts
Due: lint, types

feat: honor timeoutMs on Android
  docs/api.md
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/HybridNitroFetchClient.kt
Due: lint, types

fix: type timeoutMs on public init, volatile timeout task, update timeout docs
  docs/android.md
  docs/troubleshooting.md
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/HybridNitroFetchClient.kt
  packages/react-native-nitro-fetch/src/fetch-core/fetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/prefetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/worklet.ts
Due: lint, types

fix: forward init.timeoutMs to the native request (#239)
  docs/android.md
  docs/api.md
  docs/troubleshooting.md
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/HybridNitroFetchClient.kt
  packages/react-native-nitro-fetch/src/fetch-core/fetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/prefetch.ts
  packages/react-native-nitro-fetch/src/fetch-core/request.ts
  packages/react-native-nitro-fetch/src/fetch-core/worklet.ts
Due: lint, types

feat: support formData() for urlencoded Request and Response bodies
  docs-website/docs/api.md
  docs/api.md
  example/__tests__/fetch-api-compliance.harness.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  test-server/server.mjs
Due: lint, types

chore: upgrade React Native to 0.88.0-rc.3
  bun.lock
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/AppDelegate.swift
  example/ios/NitroFetchExample/Info.plist
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/NitroFetchExample/SceneDelegate.swift
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/WebSocketScreen.tsx
  example/tsconfig.json
  package.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/package.json
Due: lint

feat: support formData() for urlencoded Request and Response bodies (#240)
  docs-website/docs/api.md
  docs/api.md
  example/__tests__/fetch-api-compliance.harness.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  test-server/server.mjs
Due: lint, types

fix: reject aborted requests with signal.reason
  docs-website/docs/abort-controller.md
  docs/api.md
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/src/fetch-core/errors.ts
  packages/react-native-nitro-fetch/src/fetch-core/raw.ts
  packages/react-native-nitro-fetch/src/fetch-core/stream.ts
Due: lint, types

fix: reject aborted requests with signal.reason (#242)
  docs-website/docs/abort-controller.md
  docs/api.md
  example/__tests__/nitrofetch.harness.ts
  packages/react-native-nitro-fetch/src/fetch-core/errors.ts
  packages/react-native-nitro-fetch/src/fetch-core/raw.ts
  packages/react-native-nitro-fetch/src/fetch-core/stream.ts
Due: lint, types

chore: upgrade nitro modules and nitrogen to 0.37.1
  bun.lock
  example/ios/Podfile.lock
  example/package.json
  package.json
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer__double.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo_std__string.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_std__optional_UrlResponseInfo_.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_std__optional_UrlResponseInfo__RequestException.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNativeStorageSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroCronetSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestBuilderSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestSpec.kt
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/package.json
  patches/nitrogen@0.36.1.patch
  patches/nitrogen@0.37.1.patch
Due: none

chore: upgrade React Native to 0.88.0-rc.3 (#241)
  bun.lock
  example/android/app/build.gradle
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/AppDelegate.swift
  example/ios/NitroFetchExample/Info.plist
  example/ios/NitroFetchExample/PrivacyInfo.xcprivacy
  example/ios/NitroFetchExample/SceneDelegate.swift
  example/ios/Podfile.lock
  example/package.json
  example/src/screens/WebSocketScreen.tsx
  example/tsconfig.json
  package.json
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo_std__shared_ptr_ArrayBuffer__double.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_UrlResponseInfo_std__string.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_std__optional_UrlResponseInfo_.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/Func_void_std__optional_UrlResponseInfo__RequestException.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNativeStorageSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroCronetSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestBuilderSpec.kt
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridUrlRequestSpec.kt
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/package.json
  patches/nitrogen@0.36.1.patch
  patches/nitrogen@0.37.1.patch
Due: lint

chore: lockfiles
  bun.lock
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

fix: avoid trapping on non-finite prefetch TTLs and disable hits for TTL <= 0
  docs-website/docs/prefetch.md
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/FetchCache.kt
  packages/react-native-nitro-fetch/ios/FetchCache.swift
  packages/react-native-nitro-fetch/ios/HybridNitroFetchClient.swift
Due: none

fix: avoid trapping on non-finite prefetch TTLs and disable hits for TTL <= 0 (#244)
  docs-website/docs/prefetch.md
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/FetchCache.kt
  packages/react-native-nitro-fetch/ios/FetchCache.swift
  packages/react-native-nitro-fetch/ios/HybridNitroFetchClient.swift
Due: none
