Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit --project package/tsconfig.json

Revert "feat: docs (#59)"
  .github/workflows/deploy-docs.yml
  .gitignore
  bun.lock
  docs-website/.gitignore
  docs-website/README.md
  docs-website/docs/abort-controller.md
  docs-website/docs/api.md
  docs-website/docs/form-data.md
  docs-website/docs/getting-started.md
  docs-website/docs/prefetch.md
  docs-website/docs/streaming.md
  docs-website/docs/token-refresh.md
  docs-website/docs/troubleshooting.md
  docs-website/docs/websockets.md
  docs-website/docs/worklets.md
  docs-website/docusaurus.config.ts
  docs-website/package-lock.json
  docs-website/package.json
  docs-website/sidebars.ts
  docs-website/src/components/HomepageFeatures/index.tsx
  docs-website/src/components/HomepageFeatures/styles.module.css
  docs-website/src/components/HomepageHero/index.tsx
  docs-website/src/components/HomepageHero/styles.module.css
  docs-website/src/css/custom.css
  docs-website/src/pages/index.module.css
  docs-website/src/pages/index.tsx
  docs-website/static/.nojekyll
  docs-website/static/img/banner-dark.png
  docs-website/static/img/banner-light.png
  docs-website/static/img/docusaurus-social-card.jpg
  docs-website/static/img/docusaurus.png
  docs-website/static/img/favicon.ico
  docs-website/static/img/logo.png
  docs-website/static/img/logo.svg
  docs-website/static/img/undraw_docusaurus_mountain.svg
  docs-website/static/img/undraw_docusaurus_react.svg
  docs-website/static/img/undraw_docusaurus_tree.svg
  docs-website/tsconfig.json
  package.json
Due: lint, types

Revert "feat: docs (#59)" (#61)
  .github/workflows/deploy-docs.yml
  .gitignore
  bun.lock
  docs-website/.gitignore
  docs-website/README.md
  docs-website/docs/abort-controller.md
  docs-website/docs/api.md
  docs-website/docs/form-data.md
  docs-website/docs/getting-started.md
  docs-website/docs/prefetch.md
  docs-website/docs/streaming.md
  docs-website/docs/token-refresh.md
  docs-website/docs/troubleshooting.md
  docs-website/docs/websockets.md
  docs-website/docs/worklets.md
  docs-website/docusaurus.config.ts
  docs-website/package-lock.json
  docs-website/package.json
  docs-website/sidebars.ts
  docs-website/src/components/HomepageFeatures/index.tsx
  docs-website/src/components/HomepageFeatures/styles.module.css
  docs-website/src/components/HomepageHero/index.tsx
  docs-website/src/components/HomepageHero/styles.module.css
  docs-website/src/css/custom.css
  docs-website/src/pages/index.module.css
  docs-website/src/pages/index.tsx
  docs-website/static/.nojekyll
  docs-website/static/img/banner-dark.png
  docs-website/static/img/banner-light.png
  docs-website/static/img/docusaurus-social-card.jpg
  docs-website/static/img/docusaurus.png
  docs-website/static/img/favicon.ico
  docs-website/static/img/logo.png
  docs-website/static/img/logo.svg
  docs-website/static/img/undraw_docusaurus_mountain.svg
  docs-website/static/img/undraw_docusaurus_react.svg
  docs-website/static/img/undraw_docusaurus_tree.svg
  docs-website/tsconfig.json
  package.json
Due: lint, types

feat: add More fetch specs
  example/__tests__/fetch-api-compliance.harness.ts
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/Headers.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-fetch/src/utf8.ts
Due: lint, types

feat: add More fetch apis
  example/__tests__/fetch-api-compliance.harness.ts
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/Headers.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-fetch/src/utf8.ts
Due: lint, types

feat: network traces
  example/__tests__/network-inspector.harness.ts
  example/android/gradle.properties
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/HomeScreen.tsx
  example/src/screens/NetworkInspectorScreen.tsx
  nitro.perfetto-trace
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/build.gradle
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/CurlGenerator.ts
  packages/react-native-nitro-fetch/src/HermesProfiler.ts
  packages/react-native-nitro-fetch/src/NetworkInspector.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
Due: lint, types

fix: lint
  bun.lock
  docs-website/docs/inspection.md
  docs-website/sidebars.ts
  eslint.config.mjs
  example/__tests__/network-inspector.harness.ts
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/src/screens/HomeScreen.tsx
  example/src/screens/NetworkInspectorScreen.tsx
  nitro.perfetto-trace
  packages/react-native-nitro-fetch/src/HermesProfiler.ts
  packages/react-native-nitro-fetch/src/NetworkInspector.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-websockets/NitroFetchWebsockets.podspec
  packages/react-native-nitro-websockets/android/CMakeLists.txt
  packages/react-native-nitro-websockets/android/build.gradle
  packages/react-native-nitro-websockets/android/src/main/cpp/WebSocketConnection.cpp
  packages/react-native-nitro-websockets/cpp/WsTrace.hpp
  packages/react-native-nitro-websockets/ios/NWWebSocketConnection.hpp
  packages/react-native-nitro-websockets/ios/NWWebSocketConnection.mm
  packages/react-native-nitro-websockets/package.json
  packages/react-native-nitro-websockets/src/index.ts
Due: lint, types

Update WebSocketConnection.cpp
  packages/react-native-nitro-websockets/android/src/main/cpp/WebSocketConnection.cpp
Due: none

Update WebSocketConnection.hpp
  packages/react-native-nitro-websockets/android/src/main/cpp/WebSocketConnection.hpp
Due: none

feat: network inspection (#64)
  bun.lock
  docs-website/docs/inspection.md
  docs-website/sidebars.ts
  eslint.config.mjs
  example/__tests__/network-inspector.harness.ts
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/HomeScreen.tsx
  example/src/screens/NetworkInspectorScreen.tsx
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/build.gradle
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/CurlGenerator.ts
  packages/react-native-nitro-fetch/src/HermesProfiler.ts
  packages/react-native-nitro-fetch/src/NetworkInspector.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-websockets/NitroFetchWebsockets.podspec
  packages/react-native-nitro-websockets/android/CMakeLists.txt
  packages/react-native-nitro-websockets/android/build.gradle
  packages/react-native-nitro-websockets/android/src/main/cpp/WebSocketConnection.cpp
  packages/react-native-nitro-websockets/cpp/WsTrace.hpp
  packages/react-native-nitro-websockets/ios/NWWebSocketConnection.hpp
  packages/react-native-nitro-websockets/ios/NWWebSocketConnection.mm
  packages/react-native-nitro-websockets/package.json
  packages/react-native-nitro-websockets/src/index.ts
Due: lint, types

Update Nitro Fetch
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchPackage.kt
Due: none

chore : TurboReactPackage -> BaseReactPackage
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchPackage.kt
Due: none

chore: lockfiles-release
  package-lock.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

feat: agent-skills
  .claude-plugin/marketplace.json
  docs-website/docs/skills.md
  docs-website/sidebars.ts
  points.md
  skills/README.md
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/axios-adapter.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
  skills/nitro-fetch/references/network-inspector.md
  skills/nitro-fetch/references/perfetto-profiling.md
  skills/nitro-fetch/references/prefetching.md
  skills/nitro-fetch/references/replace-global.md
  skills/nitro-fetch/references/text-decoder.md
  skills/nitro-fetch/references/using-websockets.md
  skills/nitro-fetch/references/websocket-prewarm.md
Due: lint, types

chore: improve
  .claude-plugin/marketplace.json
  docs-website/docs/skills.md
  skills/README.md
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/axios-adapter.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
  skills/nitro-fetch/references/network-inspector.md
  skills/nitro-fetch/references/perfetto-profiling.md
  skills/nitro-fetch/references/prefetching.md
  skills/nitro-fetch/references/replace-global.md
  skills/nitro-fetch/references/text-decoder.md
  skills/nitro-fetch/references/using-websockets.md
  skills/nitro-fetch/references/websocket-prewarm.md
Due: none

feat: agent-skills (#68)
  .claude-plugin/marketplace.json
  docs-website/docs/skills.md
  docs-website/sidebars.ts
  points.md
  skills/README.md
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/axios-adapter.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
  skills/nitro-fetch/references/network-inspector.md
  skills/nitro-fetch/references/perfetto-profiling.md
  skills/nitro-fetch/references/prefetching.md
  skills/nitro-fetch/references/text-decoder.md
  skills/nitro-fetch/references/using-websockets.md
  skills/nitro-fetch/references/websocket-prewarm.md
Due: lint, types

chore: expo-plugin
  bun.lock
  packages/react-native-nitro-fetch/app.plugin.js
  packages/react-native-nitro-fetch/expo/plugins/src/index.ts
  packages/react-native-nitro-fetch/expo/plugins/src/withAndroid.ts
  packages/react-native-nitro-fetch/expo/plugins/tsconfig.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/app.plugin.js
  packages/react-native-nitro-websockets/expo/plugins/src/index.ts
  packages/react-native-nitro-websockets/expo/plugins/src/withAndroid.ts
  packages/react-native-nitro-websockets/expo/plugins/tsconfig.json
  packages/react-native-nitro-websockets/package.json
Due: lint, types

chore: improve
  .gitignore
Due: none

chore: improve
  README.md
  docs-website/docs/prefetch.md
  docs-website/docs/websockets.md
Due: none

chore: expo-plugin (#69)
  .gitignore
  README.md
  bun.lock
  docs-website/docs/prefetch.md
  docs-website/docs/websockets.md
  packages/react-native-nitro-fetch/app.plugin.js
  packages/react-native-nitro-fetch/expo/plugins/src/index.ts
  packages/react-native-nitro-fetch/expo/plugins/src/withAndroid.ts
  packages/react-native-nitro-fetch/expo/plugins/tsconfig.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/app.plugin.js
  packages/react-native-nitro-websockets/expo/plugins/src/index.ts
  packages/react-native-nitro-websockets/expo/plugins/src/withAndroid.ts
  packages/react-native-nitro-websockets/expo/plugins/tsconfig.json
  packages/react-native-nitro-websockets/package.json
Due: lint, types

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

fix(android): sync Cronet and token-refresh requests with CookieManager
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
Due: none

feat: expose cold-start fetch token-refresh outcome to JS
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-fetch/src/tokenRefresh.ts
Due: lint, types

fix(ios): evict stale FetchCache entries on barrier queue
  packages/react-native-nitro-fetch/ios/FetchCache.swift
Due: none

fix(ios): evict stale FetchCache entries on barrier queue (#72)
  packages/react-native-nitro-fetch/ios/FetchCache.swift
Due: none

fix: potential race condition in callback
  packages/react-native-nitro-fetch/ios/FetchCache.swift
Due: none

fix: potential race condition in callback
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
Due: none

fix: potential race condition in callback (#75)
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
  packages/react-native-nitro-fetch/ios/FetchCache.swift
Due: none

fix(android): address cookie sync review (shared helper, flush once)
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroCookieSync.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
Due: none

fix(android): use final URL for cookie storage after redirects
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
Due: none

chore: fetch
  package-lock.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

chore: fetch
  package-lock.json
  package.json
  packages/react-native-nitro-websockets/package.json
Due: none

chore: lockfiles (#76)
  package-lock.json
  package.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

chore: add global fetch
  docs-website/docs/global-replace.md
  docs-website/sidebars.ts
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
Due: lint, types

chore: expo-plugin
  docs-website/docs/global-replace.md
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
Due: none

Docs about global swap (#78)
  docs-website/docs/global-replace.md
  docs-website/sidebars.ts
  skills/nitro-fetch/SKILL.md
  skills/nitro-fetch/references/migrate-from-rn-ws.md
Due: lint, types

chore: minor fixes
  bun.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetch.kt
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-fetch/src/index.tsx
  points.md
Due: lint

fix: typo + stale docs
  README.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
