Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit --project package/tsconfig.json

fix: isolate cold-start prefetch from main URLSession (iOS)
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/index.tsx
  packages/react-native-nitro-fetch/src/tokenRefresh.ts
Due: lint, types

chore: minor fixes (#79)
  README.md
  bun.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetch.kt
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-fetch/src/index.tsx
  points.md
Due: lint

Update contributors list in README.md
  README.md
Due: none

fix(android): make cookie sync opt-in via NitroCookieSync.enableCookieSync()
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroCookieSync.kt
Due: none

Update comments for react-native-worklets usage
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

chore: add harness for global replace
  example/__tests__/global-replace.harness.ts
  example/rn-harness.config.mjs
  packages/react-native-nitro-fetch/src/Headers.ts
  packages/react-native-nitro-fetch/src/Request.ts
Due: lint, types

chore: add harness for global replace
  example/rn-harness.config.mjs
Due: none

chore: add harness for global replace (#81)
  example/__tests__/global-replace.harness.ts
  packages/react-native-nitro-fetch/src/Headers.ts
  packages/react-native-nitro-fetch/src/Request.ts
Due: lint, types

fix: types and KV issue
  example/__tests__/fetch-api-compliance.harness.ts
  example/__tests__/global-replace.harness.ts
  example/__tests__/network-inspector.harness.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
Due: lint, types

fix: types and kv issue (#83)
  example/__tests__/fetch-api-compliance.harness.ts
  example/__tests__/global-replace.harness.ts
  example/__tests__/network-inspector.harness.ts
  packages/react-native-nitro-fetch/src/Request.ts
  packages/react-native-nitro-fetch/src/Response.ts
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
Due: lint, types

chore: lockfile
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

fix: readmes not being pushed to npm
  .gitignore
  README.md
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/README.md
  packages/react-native-nitro-text-decoder/package.json
  packages/react-native-nitro-websockets/README.md
  packages/react-native-nitro-websockets/package.json
Due: none

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-websockets/package.json
Due: none

perf: improve performance of text decoder
  bun.lock
  example/__tests__/textdecoder.harness.ts
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.hpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.cpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.hpp
  packages/react-native-nitro-text-decoder/nitrogen/generated/shared/c++/HybridNitroTextDecoderSpec.hpp
  packages/react-native-nitro-text-decoder/src/TextDecoder.ts
  packages/react-native-nitro-text-decoder/src/specs/TextDecoder.nitro.ts
Due: lint, types

perf: improve performance of text decoder (#84)
  bun.lock
  example/__tests__/textdecoder.harness.ts
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.hpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.cpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.hpp
  packages/react-native-nitro-text-decoder/nitrogen/generated/shared/c++/HybridNitroTextDecoderSpec.hpp
  packages/react-native-nitro-text-decoder/src/TextDecoder.ts
  packages/react-native-nitro-text-decoder/src/specs/TextDecoder.nitro.ts
Due: lint, types

feat: push logs to dev tools
  example/ios/Podfile.lock
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/DevToolsDemoScreen.tsx
  example/src/screens/HomeScreen.tsx
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.h
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.hpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.cpp
  packages/react-native-nitro-text-decoder/src/TextDecoder.ts
Due: lint, types

feat: push logs to dev tools (#85)
  example/ios/Podfile.lock
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/DevToolsDemoScreen.tsx
  example/src/screens/HomeScreen.tsx
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.h
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.hpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.cpp
  packages/react-native-nitro-text-decoder/src/TextDecoder.ts
Due: lint, types

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/package.json
Due: none

chore: improve network inspector
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporterImpl.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
Due: none

chore: lockfiles
  bun.lock
Due: none

chore: improve network inspector
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
Due: none

chore: improve network inspector (#86)
  bun.lock
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporter.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporterImpl.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroUrlRequestBuilder.kt
  packages/react-native-nitro-fetch/ios/HybridUrlRequestBuilder.swift
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
Due: none

chore: docs
  docs-website/docs/prefetch.md
  docs-website/docusaurus.config.ts
Due: lint, types

chore: docs (#87)
  docs-website/docs/prefetch.md
  docs-website/docusaurus.config.ts
Due: lint, types

chore: improve docs
  .github/workflows/deploy-docs.yml
  docs-website/docusaurus.config.ts
  docs-website/src/components/HomepageHero/index.tsx
Due: lint, types

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

Update documentation link in README.md
  README.md
Due: none

fix: .h file missing in podspec
  bun.lock
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
Due: none

fix: .h file missing in podspec (#88)
  bun.lock
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  package-lock.json
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
Due: none

chore: docs+ minor nites
  docs-website/docs/cookie-sync.md
  docs-website/sidebars.ts
Due: lint, types

feat: add web stub
  packages/react-native-nitro-fetch/package.json
  packages/react-native-nitro-fetch/src/index.web.tsx
Due: lint

fix: nitro headers types
  packages/react-native-nitro-fetch/src/Headers.ts
Due: lint, types

chore: web files
  packages/react-native-nitro-fetch/src/utf8.ts
Due: lint, types

feat: enable tvos installation
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-text-decoder/NitroTextDecoder.podspec
  packages/react-native-nitro-websockets/NitroFetchWebsockets.podspec
Due: none

fix: webpack
  packages/react-native-nitro-fetch/src/utf8.ts
Due: lint, types

fix: fetch
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

chore(text-decoder): vendor simdutf v9.0.0
  packages/react-native-nitro-text-decoder/cpp/simdutf.cpp
  packages/react-native-nitro-text-decoder/cpp/simdutf.h
Due: none

perf(text-decoder): three-tier decodeRaw with simdutf NEON transcode
  packages/react-native-nitro-text-decoder/NitroTextDecoder.podspec
  packages/react-native-nitro-text-decoder/android/CMakeLists.txt
  packages/react-native-nitro-text-decoder/cpp/HybridTextDecoder.cpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.cpp
  packages/react-native-nitro-text-decoder/cpp/TextDecoderUtils.hpp
Due: none

feat(example): add TextDecoder benchmark screen
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/HomeScreen.tsx
  example/src/screens/TextDecoderBenchmarkScreen.tsx
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
