Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint --no-warn-ignored {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc --noEmit --project package/tsconfig.json
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

perf(text-decoder): build with -O3 + ThinLTO
  example/src/screens/TextDecoderBenchmarkScreen.tsx
  packages/react-native-nitro-text-decoder/NitroTextDecoder.podspec
  packages/react-native-nitro-text-decoder/android/CMakeLists.txt
Due: lint

fix: prefetch not working on methods
  example/__tests__/nitrofetch.harness.ts
  example/ios/Podfile.lock
  example/src/screens/PrefetchScreen.tsx
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.h
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
Due: lint, types

fix: prefetch not working on methods
  docs-website/docs/prefetch.md
Due: none

fix: Auto Call on iOS
  example/__tests__/nitrofetch.harness.ts
Due: lint, types

fix: prefetch not working on methods (#99)
  docs-website/docs/prefetch.md
  example/__tests__/nitrofetch.harness.ts
  example/ios/Podfile.lock
  example/src/screens/PrefetchScreen.tsx
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.h
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/src/fetch.ts
  packages/react-native-nitro-fetch/src/index.tsx
Due: lint, types

feat: configurable prefetch cache time
  docs-website/docs/prefetch.md
  example/__tests__/nitrofetch.harness.ts
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/ios/NitroFetchExample/AppDelegate.swift
  example/rn-harness.config.mjs
  example/src/screens/PrefetchScreen.tsx
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.h
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JNitroRequest.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/NitroRequest.swift
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/NitroRequest.hpp
  packages/react-native-nitro-fetch/src/NitroFetch.nitro.ts
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

feat: configurable prefetch cache time
  example/rn-harness.config.mjs
Due: none

feat: configurable prefetch cache time (#100)
  docs-website/docs/prefetch.md
  example/__tests__/nitrofetch.harness.ts
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/ios/NitroFetchExample/AppDelegate.swift
  example/src/screens/PrefetchScreen.tsx
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.h
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JNitroRequest.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/NitroRequest.swift
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/NitroRequest.hpp
  packages/react-native-nitro-fetch/src/NitroFetch.nitro.ts
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

chore: lockfiles
  package-lock.json
  packages/react-native-nitro-fetch/package.json
Due: none

refactor: remove hardcoded strings
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

refactor: remove hardcoded strings (#101)
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

fix(android): missing network requests in DevTools on `debugOptimized` Android
  packages/react-native-nitro-fetch/android/build.gradle
Due: none

fix(android): missing network requests in DevTools on `debugOptimized` Android (#102)
  packages/react-native-nitro-fetch/android/build.gradle
Due: none

feat: add json and form data support
  bun.lock
  docs-website/docs/token-refresh.md
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/android/build.gradle
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/src/tokenRefresh.ts
  skills/nitro-fetch/references/prefetching.md
Due: lint, types

feat: add json and form data support (#104)
  bun.lock
  docs-website/docs/token-refresh.md
  example/ios/Podfile.lock
  packages/react-native-nitro-fetch/android/build.gradle
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/src/tokenRefresh.ts
  skills/nitro-fetch/references/prefetching.md
Due: lint, types

docs: add header / JSON-body / form-data token mapping examples
  README.md
  docs-website/docs/token-refresh.md
Due: none

Refactor global-replace.md for formatting consistency
  docs-website/docs/global-replace.md
Due: none

Update global-replace.md
  docs-website/docs/global-replace.md
Due: none

Refactor global-replace.md for formatting consistency (#105)
  docs-website/docs/global-replace.md
Due: none

docs:refactor global replace with axios with axios fetch adapter method
  docs-website/docs/global-replace.md
Due: none

fix: build failure on 0.81
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporterImpl.kt
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
Due: none

test(harness): replace flaky httpbin.org with a local Express test server
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
  bun.lock
  example/__tests__/fetch-api-compliance.harness.ts
  example/__tests__/global-replace.harness.ts
  example/__tests__/network-inspector.harness.ts
  example/__tests__/nitrofetch.harness.ts
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/ios/NitroFetchExample/AppDelegate.swift
  example/test-utils/server.ts
  package.json
  test-server/package.json
  test-server/server.mjs
Due: lint, types

fix(ci): run Android harness server start on a single line
  .github/workflows/harness-android.yml
Due: none

fix(ci): stop Android harness step hanging on the background test server
  .github/workflows/harness-android.yml
Due: none

chore: use local server to test harness (#109)
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
  bun.lock
  example/__tests__/fetch-api-compliance.harness.ts
  example/__tests__/global-replace.harness.ts
  example/__tests__/network-inspector.harness.ts
  example/__tests__/nitrofetch.harness.ts
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/ios/NitroFetchExample/AppDelegate.swift
  example/test-utils/server.ts
  package.json
  test-server/package.json
  test-server/server.mjs
Due: lint, types

chore: add axios replacements tests
  bun.lock
  example/__tests__/global-replace.harness.ts
  example/package.json
Due: lint, types

fix: build failure on 0.81 (#108)
  packages/react-native-nitro-fetch/NitroFetch.podspec
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/DevToolsReporterImpl.kt
  packages/react-native-nitro-fetch/ios/NitroDevToolsReporter.mm
Due: none

chore: add axios replacements tests (#110)
  bun.lock
  example/__tests__/global-replace.harness.ts
  example/package.json
Due: lint, types

docs:add exclamation mark to satisfy type error
  docs-website/docs/global-replace.md
Due: none

docs:remove unused type import
  docs-website/docs/global-replace.md
Due: none

docs: add more info for about decision to set request response to null
  docs-website/docs/global-replace.md
Due: none

fix: gate token refresh header value logs behind debug builds
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
Due: none

fix: preserve binary request bodies
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
  packages/react-native-nitro-fetch/ios/NitroFetchClient.swift
  packages/react-native-nitro-fetch/nitrogen/generated/android/c++/JNitroRequest.hpp
  packages/react-native-nitro-fetch/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  packages/react-native-nitro-fetch/nitrogen/generated/ios/swift/NitroRequest.swift
  packages/react-native-nitro-fetch/nitrogen/generated/shared/c++/NitroRequest.hpp
  packages/react-native-nitro-fetch/src/NitroFetch.nitro.ts
  packages/react-native-nitro-fetch/src/__tests__/fetch.test.ts
  packages/react-native-nitro-fetch/src/fetch.ts
Due: lint, types

fix: gate token refresh header value logs behind debug builds (#111)
  packages/react-native-nitro-fetch/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  packages/react-native-nitro-fetch/ios/NitroAutoPrefetcher.swift
Due: none

docs refactor global replace axios (#106)
  docs-website/docs/global-replace.md
Due: none

Update README to remove outdated documentation links
  README.md
Due: none

docs: improve general docs
  docs-website/docs/api.md
  docs-website/docs/global-replace.md
  docs-website/docs/token-refresh.md
Due: none

docs: improve general docs
  docs/android.md
  docs/api.md
  docs/cronet-android.md
  docs/cronet-ios.md
  docs/getting-started.md
  docs/ios.md
  docs/prefetch.md
  docs/troubleshooting.md
Due: none
