Repository margelo/react-native-nitro-fetch: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: npx eslint --no-warn-ignored {staged_files}

types:
  run: npx tsc --noEmit --project package/tsconfig.json

fix: worklets not working for post request
  example/src/App.tsx
  package/src/fetch.ts
Due: lint, types

fix: worklets not working for post request
  package/src/fetch.ts
Due: lint, types

fix: worklets not working for post request (#23)
  example/src/App.tsx
  package/src/fetch.ts
Due: lint, types

0.1.6
  package/package.json
Due: none

fix: 16kb on Nitro fetch
  package/android/build.gradle
Due: none

fix: 16kb on Nitro fetch (#24)
  package/android/build.gradle
Due: none

bump to 0.1.7
  package/package.json
Due: none

optimizations
  cpp/TextDecoderUtils.cpp
Due: none

furhter improved and optimized
  cpp/HybridTextDecoder.cpp
  cpp/HybridTextDecoder.hpp
  cpp/TextDecoderUtils.cpp
  example/src/SpeedTest.tsx
  example/src/Tests.tsx
  src/TextDecoder.ts
Due: lint, types

added some more tests
  example/src/tests/web-text-decoder.ts
Due: lint, types

fix: readme
  bun.lock
  docs/worklets.md
  example/ios/Podfile.lock
  package/babel.config.js
  package/package.json
Due: lint, types

update yarn lock
  example/ios/Podfile.lock
  yarn.lock
Due: none

feat: rn-upgrade
  bun.lock
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew.bat
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/jest.config.js
  example/package.json
  example/tsconfig.json
  package.json
  package/nitrogen/generated/android/nitrofetch+autolinking.cmake
  package/package.json
  patches/react-native-worklets-core@1.6.2.patch
Due: lint, types

feat: rn-upgrade
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
Due: none

feat: rn-upgrade to 0.85 (#32)
  bun.lock
  example/Gemfile
  example/Gemfile.lock
  example/android/app/build.gradle
  example/android/app/src/debug/AndroidManifest.xml
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/nitrofetch/example/MainApplication.kt
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/ios/NitroFetchExample.xcodeproj/project.pbxproj
  example/ios/NitroFetchExample/Info.plist
  example/ios/Podfile
  example/ios/Podfile.lock
  example/jest.config.js
  example/package.json
  example/tsconfig.json
  package.json
  package/nitrogen/generated/android/nitrofetch+autolinking.cmake
  package/package.json
  patches/react-native-worklets-core@1.6.2.patch
Due: lint, types

feat: formdata-support
  bun.lock
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NitroAutoPrefetcher.swift
  package/ios/NitroFetchClient.swift
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/android/c++/JNitroFormDataPart.hpp
  package/nitrogen/generated/android/c++/JNitroRequest.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroFormDataPart.kt
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Umbrella.hpp
  package/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  package/nitrogen/generated/ios/swift/NitroFormDataPart.swift
  package/nitrogen/generated/ios/swift/NitroRequest.swift
  package/nitrogen/generated/shared/c++/NitroFormDataPart.hpp
  package/nitrogen/generated/shared/c++/NitroRequest.hpp
  package/src/NitroFetch.nitro.ts
  package/src/fetch.ts
  package/src/index.tsx
Due: lint, types

chore: harness
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
  bun.lock
  example/__tests__/nitrofetch.harness.ts
  example/jest.harness.config.mjs
  example/package.json
  example/rn-harness.config.mjs
Due: lint, types

chore: harness
  example/rn-harness.config.mjs
Due: none

chore: timeout
  example/rn-harness.config.mjs
Due: none

chore: Add Harness tests (#34)
  .github/workflows/harness-android.yml
  .github/workflows/harness-ios.yml
  bun.lock
  example/__tests__/nitrofetch.harness.ts
  example/jest.harness.config.mjs
  example/package.json
  example/rn-harness.config.mjs
Due: lint, types

chore: upgrade-nitro-modules
  .github/workflows/ci.yml
Due: none

feat: add abort controller
  example/__tests__/nitrofetch.harness.ts
  example/ios/NitroFetchExample.xcodeproj/xcshareddata/xcschemes/NitroFetchExample.xcscheme
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NitroAutoPrefetcher.swift
  package/ios/NitroFetchClient.swift
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/android/c++/JNitroRequest.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec.swift
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec_cxx.swift
  package/nitrogen/generated/ios/swift/NitroRequest.swift
  package/nitrogen/generated/ios/swift/NitroResponse.swift
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/shared/c++/NitroRequest.hpp
  package/src/NitroFetch.nitro.ts
  package/src/fetch.ts
Due: lint, types

feat: move to debug
  example/ios/NitroFetchExample.xcodeproj/xcshareddata/xcschemes/NitroFetchExample.xcscheme
Due: none

feat: add Docs
  README.md
Due: none

feat: add `AbortController` (#37)
  example/__tests__/nitrofetch.harness.ts
  example/src/App.tsx
  package/android/src/main/java/com/margelo/nitro/nitrofetch/AutoPrefetcher.kt
  package/android/src/main/java/com/margelo/nitro/nitrofetch/NitroFetchClient.kt
  package/ios/NitroAutoPrefetcher.swift
  package/ios/NitroFetchClient.swift
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/android/c++/JHybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/android/c++/JNitroRequest.hpp
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/HybridNitroFetchClientSpec.kt
  package/nitrogen/generated/android/kotlin/com/margelo/nitro/nitrofetch/NitroRequest.kt
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.cpp
  package/nitrogen/generated/ios/NitroFetch-Swift-Cxx-Bridge.hpp
  package/nitrogen/generated/ios/c++/HybridNitroFetchClientSpecSwift.hpp
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec.swift
  package/nitrogen/generated/ios/swift/HybridNitroFetchClientSpec_cxx.swift
  package/nitrogen/generated/ios/swift/NitroRequest.swift
  package/nitrogen/generated/ios/swift/NitroResponse.swift
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.cpp
  package/nitrogen/generated/shared/c++/HybridNitroFetchClientSpec.hpp
  package/nitrogen/generated/shared/c++/NitroRequest.hpp
  package/src/NitroFetch.nitro.ts
  package/src/fetch.ts
Due: lint, types

feat: add Docs (#38)
  README.md
Due: none

chore: improve-example-app
  bun.lock
  example/jest.harness.config.mjs
  example/package.json
  example/rn-harness.config.mjs
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/AbortScreen.tsx
  example/src/screens/BasicFetchScreen.tsx
  example/src/screens/BenchmarkScreen.tsx
  example/src/screens/CryptoScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PostAndUploadScreen.tsx
  example/src/screens/PrefetchScreen.tsx
  example/src/theme.ts
Due: lint, types

chore: improve-example-app
  example/src/App.tsx
Due: lint

chore: improve-example-app
  eslint.config.mjs
Due: none

chore: improve-example-app (#39)
  bun.lock
  eslint.config.mjs
  example/jest.harness.config.mjs
  example/package.json
  example/rn-harness.config.mjs
  example/src/App.tsx
  example/src/navigation.ts
  example/src/screens/AbortScreen.tsx
  example/src/screens/BasicFetchScreen.tsx
  example/src/screens/BenchmarkScreen.tsx
  example/src/screens/CryptoScreen.tsx
  example/src/screens/HomeScreen.tsx
  example/src/screens/PostAndUploadScreen.tsx
  example/src/screens/PrefetchScreen.tsx
  example/src/theme.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
